@using System.Globalization;
@using Task6.Entities;
@using Task6.Ioc;
@{
    Layout = null;

    int userId = 0;
    int awardId = 0;
    string errorMessage = null;
    var userLogic = DependencyResolver.UserLogic;
    int forAll = 0;

    if(Int32.TryParse(Request["award_id"], out awardId))
    {
        HttpCookie cookName = new HttpCookie("awardId");
        cookName.Value = awardId.ToString();
    }

    if (IsPost)
    {
        if (Int32.TryParse(Request["user_id"], out userId) && Int32.TryParse(Request["award_id"], out awardId))
        {
            if (Int32.Parse(Request["delete_for_all"]) == 0)
            {
                userLogic.RemoveUserAward(userId, awardId, true);
            }
            else
            {
                userLogic.RemoveUserAward(userId, awardId, false);
            }
            //userLogic.RemoveUserAward(userId, awardId, false);
        }
        else
        {
            errorMessage = "Incorrect input of id";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete an award from a user</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    @if (User.IsInRole("Admin"))
    {
        <form action="delete_award_from_user.cshtml" method="post">

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert id of the user you want to delete the award from:
            </div>

            <div style="margin: 20px">
                <label for="input_userId">Enter id of user:</label>
                <input type="text" name="user_id" id="input_userId" placeholder="Enter id of the user" value=@userId />
            </div>

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert id of the award you want to delete from the user:
            </div>

            <div style="margin: 20px">
                <label for="input_awardId">Enter id of award:</label>
                <input type="text" name="award_id" id="input_awardId" placeholder="Enter id of the award" value=@awardId />
            </div>

            <button id="confirm" class="btn btn-primary" style="width:200px" onclick="deleteAward(@awardId)">Confirm</button>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You are not allowed to see this page!
        </div>
    }

    


    @if (errorMessage != null)
    {
        <div class="alert alert-warning" role="alert">
            @errorMessage
        </div>
    }

    <button type="button" button class="btn btn-primary" style="width:200px; margin-top: 10px" onClick='location.href="../index.cshtml"'>
        Return to the main page
    </button>

    <input type="text" name="delete_for_all" id="invisible" style="display: none" value=@forAll>

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script>
        function deleteAward(awardId) {
            if (confirm("Do you want to delete this award for all users?")) {
                //location.href = "delete_award_from_all.cshtml";
                //document.getElementById('invisible').value = 1;
            }
        }
    </script>

</body>
</html>