@using System.Globalization;
@using Task6.Entities;
@using Task6.Ioc;
@using Task10.Models;
@{
    Layout = null;

    int userId = 0;
    int imageNumber = 0;
    string errorMessage = null;
    var userLogic = DependencyResolver.UserLogic;

    UserAuthentification auth = new UserAuthentification();

    string userName = User.Identity.Name;

    if (IsPost)
    {
        if (Int32.TryParse(Request["user_id"], out userId) && Int32.TryParse(Request["image_number"], out imageNumber))
        {
            if (imageNumber < 1)
            {
                errorMessage = "Number of image cannot be less then 1";
            }
            userLogic.RemoveImage(userId, imageNumber);
        }
        else
        {
            errorMessage = "Incorrect input of id";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete an image from a user</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    @if (auth.HasRole(userName, "Admin"))
    {
        <form action="delete_image.cshtml" method="post">

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert id of the user you want to delete the image from:
            </div>

            <div style="margin: 20px">
                <label for="input_userId">Enter id of user:</label>
                <input type="text" name="user_id" id="input_userId" placeholder="Enter id of the user" value=@userId />
            </div>

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert id of the award you want to delete from the user:
            </div>

            <div style="margin: 20px">
                <label for="input_imageNumber">Enter number of image:</label>
                <input type="text" name="image_number" id="input_imageNumber" placeholder="Enter number of the image" value=@imageNumber />
            </div>

            <button id="confirm" class="btn btn-primary" style="width:200px">Confirm</button>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You are not allowed to see this page!
        </div>
    }


    @if (errorMessage != null)
    {
        <div class="alert alert-warning" role="alert">
            @errorMessage
        </div>
    }

    <button type="button" button class="btn btn-primary" style="width:200px; margin-top: 10px" onClick='location.href="../index.cshtml"'>
        Return to the main page
    </button>

</body>
</html>