@using System.Globalization;
@using Task6.Entities;
@using Task6.Ioc;
@using Task10.Models;
@{
    Layout = null;

    int userId = 0;
    string birth = null;
    DateTime birthDate = new DateTime();
    string errorMessage = null;
    var userLogic = DependencyResolver.UserLogic;

    UserAuthentification auth = new UserAuthentification();

    string userName = User.Identity.Name;

    if (IsPost)
    {
        birth = Request["birth"];
        if (Int32.TryParse(Request["user_id"], out userId) && birth != null && DateTime.TryParse(birth, out birthDate))
        {
            birthDate = Convert.ToDateTime(birth);
            userLogic.EditUserBirthdate(userId, birthDate);
        }
        else
        {
            errorMessage = "Incorrect input data";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Delete an award from a user</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    @if (auth.HasRole(userName, "Admin"))
    {
        <form action="edit_birth.cshtml" method="post">

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert id of the user you want to edit:
            </div>

            <div style="margin: 20px">
                <label for="input_userId">Enter id of user:</label>
                <input type="text" name="user_id" id="input_userId" placeholder="Enter id of the user" value=@userId />
            </div>

            <div class="alert alert-info" role="alert style=" margin: 20px"">
                Insert new date:
            </div>

            <div style="margin: 20px">
                <label for="input_birth">Insert date of birth: </label>
                <input type="date" name="birth" id="input_birth" placeholder="yyyy.mm.dd" value=@birth />
            </div>

            <button class="btn btn-primary" style="width:200px">Confirm</button>
        </form>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            You are not allowed to see this page!
        </div>
    }

    @if (errorMessage != null)
    {
        <div class="alert alert-warning" role="alert">
            @errorMessage
        </div>
    }

    <button type="button" button class="btn btn-primary" style="width:200px; margin-top: 10px" onClick='location.href="../index.cshtml"'>
        Return to the main page
    </button>
</body>
</html>