.upper {
    background-color: #008040;
    color: white;
    position: relative;
    font-size: x-large;
    height: 100px;
    position: relative;
}

.lower {
    position: relative;
    margin-left: 40px;
    background-color: #c0c0c0;
    height: 200px;
    position: relative;
    bottom: 25px;
    box-sizing: content-box;
    content: "";
    display: block;
    clear: both;
    font-size: large;
}

.text {
    padding: 30px;
}