body {
    background-color: #c0c0c0;
}

.container {
    background-color: aliceblue;
    position: absolute;
    display: inline-block;
    height: 250px;
    margin: 30px 400px;
    
}

td {
    padding: 20px;
    color: orangered;
    text-align: center;
}
