* {box-sizing: border-box}

.container {
    position: relative;
    background-color: dodgerblue;
    height: 230px;
    width: 300px;  
    color: honeydew;
    margin: 10px;
}

.pas_container {
    width: 300px;
}

.mail_container {
    width: 300px;
    margin: 0px 5px;
}

.line {
    border: none;
    background-color: aliceblue;
    color: aliceblue;
    height: 2px;
}

input[type=text] {
    width: 65%;
    margin: 10px; 
    border: none;
    background: #f1f1f1;
  }

input[type=password] {
    width: 27%;
    display: inline-block;
    margin: 10px 15px; 
    border: none;
    background: #f1f1f1;
}

label[type=mail_input] {
    margin: 15px;
}

label[type=psw_label] {
    margin: 18px;
    position:absolute; 
    right: 72%;
    top: 35%;
}

#psw_repeat {
    position:absolute; 
    right: 32%;
    top: 35%;
}

.registerbtn {
    margin: 30px 20px;
    position:absolute; 
    bottom: 0; 
    left: 0;
}

button[type=submit] {
    bottom: 0px;
}

label {
    margin: 0px 2px;
}

h3 {
    margin: 0px 10px;
}